* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
}
.first-sec {
  background-image: url(img/top-banner.png);
  background-repeat: no-repeat;
}
.first-section {
  display: flex;
  padding: 5%;
}
.welcome-section {
  width: 50%;
}
.welcome-section h1 {
  font-size: 40px;
}
.welcome-section img {
  width: 70%;
  border-radius: 50%;
}
.developing {
  color: #ffa500;
}
.course {
  margin-bottom: 20px;
}
.Welcome {
  margin-bottom: 20px;
}
.welcome-section h3 {
  margin-bottom: 10px;
}
.welcome-section p {
  margin: 30px 0;
  text-align: justify;
}
.Click {
  display: flex;
  justify-content: center;
}
.welcome-section a {
  text-decoration: none;
  color: white;
  background-image: linear-gradient(tomato, #ffa500);
  width: 80px;
  height: 20px;
  padding: 10px 40px;
  border-radius: 10px;
}
.welcome-img {
  display: flex;
  justify-content: center;
}
.second-section {
  display: flex;
  padding: 5%;
}
.python {
  display: flex;
  align-items: center;
}
.python p {
  text-align: justify;
}
.second-sec {
  background-image: url(img/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}

/* ----third section--- */
.third-section {
  display: flex;
  gap: 50px;
  justify-content: center;
  background-image: url(img/exp-bg.png);
  background-repeat: no-repeat;
}

.third-sec h2 {
  text-align: center;
  margin-bottom: 50px;
}
.full-stack {
  width: 40%;
  box-shadow: 10px 10px 30px 1px #ccc;
  padding: 50px;
  height: 250px;
  border-radius: 10px;
}
.full-stack p {
  text-align: justify;
}
.full-stack h3 {
  font-size: 30px;
  padding-bottom: 25px;
}
.full-stack h4 {
  margin-bottom: 20px;
  color: #ffa500;
}
.Full-dev {
  border-left: 10px solid;
  border-image: linear-gradient(tomato, #ffa500);
  border-image-slice: 1;
  margin-left: 60px;
}
.Junior-dev {
  margin-right: 60px;
}
.Junior-dev {
  border-left: 10px solid;
  border-image: linear-gradient(blue, skyblue);
  border-image-slice: 1;
}

footer {
  margin: 100px 0 40px;
  text-align: center;
}
